.normal-input {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    display: block;
    width: 100%;
    padding: 0.6rem 0.7rem;
    font-size: 0.9rem;
    line-height: 1.25;
    color: #333;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.8em;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    margin-bottom: 0.6em;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #c12121;
}

.help-block-error {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #c12121;
}

.normal-input-error {
    color: #c12121;
    border-color: #ea1414;
}

.normal-input:focus {
    color: #444;
    background-color: #fff;
    border-color: rgb(0, 0, 10, 0.5);
    outline: none;
}

.field-boxes {
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    padding: 0.8em;
    border-radius: 0.9em
}

.checkbox-container {
    display: inline;
    position: relative;
    padding-left: 1em;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 1em;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #aaa;
}

.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark-error {
    border: 1px solid #c12121;
}

.title-box {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.8em;
}

.title-box .title {
    position: relative;
    top: -0.5em;
    margin-left: 1em;
    display: inline;
    background-color: white;
}

.title-box .content {
    padding: 0.8em;
}

.title-box-error {
    border: 1px solid #c12121;
}

.radio-box{
padding-left:1em;
}
